/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  html {
    box-sizing: border-box;
  }
  *,*:before,*:after {
    box-sizing: inherit;
  }
  body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  /**Globales**/
  .contenedor {
    width: 98%;
    margin: 0 auto;
  }
  @media only screen and (min-width:480px) {
    .contenedor {
      width: 95%;
    }
  }
  @media only screen and (min-width:768px) {
    .contenedor {
      width: 90%;
    }
  }
  @media only screen and (min-width:992px) {
    .contenedor {
      width: 90%;
      max-width: 1100px;
    }
  }
  .seccion {
    padding: 30px 0;
  }
  .seccion p {
    font-size: 1.2em;
    text-align: center;
  }
  h2 {
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}
ul {
  list-style: none;
  margin:0;
  padding: 0;
}
  /**header**/
  div.hero {
    background-image: url(../img/hokusai_1920-1200.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
  }
  div.contenido-header {
    padding-top: 180px;
    text-align: center;
    text-decoration: none;
  }
  @media only screen and (min-width:768px) {
    div.contenido-header {
      padding-top: 120px;
      
    }
  }
  div.inscripcion {
    font-size: 5.9vw;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    
  }
  div.inscripcion a {
    text-decoration: none;
  }
  @media only screen and (min-width:768px) {
    div.inscripcion {
      font-size: 6vw;
      margin: 0;
      line-height: 1;
      
    }
  }
  /*barra*/
  div.barra {
    background-color: rgba(83, 139, 179, .5);
    padding: 20px 0;
  }
  .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  div.logo{
    width: 60%;
    float: left;
  }
  div.logo img {
    width: 40%;
  }
  @media only screen and (min-width:768px) {
    div.logo {
      width:33%;
  
    }
  }
  /** Nav principal **/
nav.nav-principal {
  display: none;
  width: 100%;
}
nav.nav-principal a {
   font-family: 'Oswald', sans-serif;
   color: #fe4918;
   font-size: 1.3em;
   text-transform: uppercase;
   text-decoration: none;
   transition: all .6s ease;
   width: 100%;
   display: block;
   text-align: center;
   margin-bottom: 20px;
   clear: both;
}
nav.nav-principal a:hover {
  background-color: #1827fe;
}
nav.nav-principal a:last-child {
  border: 2px solid #1827fe;
  color: #fe4918;
}
nav.nav-principal a:last-child:hover {
  color: #ffffff;
}
@media only screen and (min-width:768px) {
  nav.nav-principal {
    width: 67%;
    float: right;
    text-align: right;
    display: block;
  }
  nav.nav-principal a {
    padding: 10px 10px;
    width:auto;
    display: inline-block;
    text-align: center;
    margin:0 10px 0 0;
  }
}
div.menu-movil {
    width: 60px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
}

div.menu-movil:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    div.menu-movil {
        display: none;
    }
}

div.menu-movil span{
    height: 8px;
    margin-bottom: 6px;
    background-color: white;
    display: block; 
}
/*idiomas*/
ul.lista-idiomas li {
  padding: 10px;
  float: left;
}
@media only screen and (min-width:480px) {
  ul.lista-idiomas li  {
    width: 100%;
  }
}
@media only screen and (min-width:768px) {
  ul.lista-idiomas li  {
    width: 50%;
  }
}
div.idioma {
  position: relative;
  overflow: hidden;
  height: auto;
}
div.invitado img {
  max-width: 100%;
}
/*boton-vermas*/
div.boton-ver {
  width: 40%;
  margin: 0 auto;
  background: rgba(11, 7, 196, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.ver-mas {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #140263;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.ver-mas:hover {
  background: #0e0774;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.info {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.info h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.info .cerrar {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.info .close:hover {
  color: #06D85F;
}
.info .contenido {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .ver-mas{
    width: 70%;
  }
  .info{
    width: 70%;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

